@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, sans-serif !important;
}


a:focus{
  border-bottom: 2px solid black;
  transition: 0.3s ease-in-out;
}


*::selection{
  background-color: rgb(185, 79, 97);
  color: white;
}

.toast-styling{
  color: #FF6B6B;
}



.table-container::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #3f4959; /* Scrollbar color */
  border-radius: 8px; /* Rounded edges for the scrollbar */
}

/* Styling For FileInputStyling */



.FileInputStyling::-webkit-file-upload-button {
  background-color: #d45353;
  color: #fff;
  padding: 8px 7px;
  border: 1px  #d45353;
  cursor: pointer;
  font-size: 14px;
  margin-right: 20px;
  margin-left: -20px;
}


/* .table-container::-webkit-scrollbar-track {
  background-color: #2d3748;
} */

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    /* visibility: hidden; */
    opacity: 0;
  }
}
